.wave-analysis-component-box {
   .table-box {
      margin-top: 30px;

      .titile-and-btn {
         margin-bottom: 16px;
         display: flex;
         justify-content: space-between;
         span {
            font-size: 14px;
            font-weight: 500;
         }
      }
   }
}
