.header-component-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 64px;
   border-bottom: 1px solid #d3d9e6;
   padding: 0px 32px;
   background-color: #fff;

   .left {
      display: flex;
      align-items: center;
      .logo {
         background: url("https://www.imooc.com/static/img/index/logo2020.png") no-repeat;
         width: 91px;
         height: 40px;
         background-size: 100%;
         margin-right: 16px;
      }
      .menu {
         width: 640px;
         display: flex;
         align-items: center;
         padding-top: 4px;
      }
   }

   .user-info {
      .user-name {
         margin-left: 5px;
      }
   }
}

.index-menuItem-component-box {
   height: 60px;
   line-height: 60px;
   font-size: 14px;
   padding: 0 16px;
   position: relative;

   .menu-item-title {
      cursor: pointer;
   }

   .menu-children-box {
      visibility: hidden;
      padding: 0 16px;
      position: absolute;
      opacity: 0.3;
      top: 62px;
      left: 0;
      line-height: 25px;
      z-index: 100;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      color: #9c9c9c;
      border-radius: 4px;

      .menu-child {
         margin: 5px;
         min-width: 75px;
         text-align: left;
         display: flex;
         align-items: center;
         span {
            white-space: nowrap;
            cursor: pointer;
            margin-right: 5px;
         }
      }
   }

   .bottom-line-active {
      height: 3px;
      background: rgb(0, 82, 204);
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
   }
   .arrow-icon {
      width: 7px;
      height: 7px;
      display: inline-block;
      border-top: 1px solid #848b99;
      border-right: 1px solid #848b99;
      transform: rotate(135deg);
      margin-left: 8px;
      margin-bottom: 3px;
   }

   &:hover {
      .menu-children-box {
         visibility: visible;
         opacity: 1;
         transition: all 0.3s ease;
      }

      .arrow-icon{
         transform: rotate(-45deg);
         margin-bottom: -2px;
      }
   }
}
